body {
  margin: 0;
}

@media screen and (min-width: 800px) {
  #main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 95vh;
  }
  .title {
    text-align: center;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .title #logo {
    height: 50px;
  }
  .title h2 {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    margin-top: 20px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
  }
  #output {
    display: none;
  }
  #gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 98vw;
    margin: 0;
    padding: 0;
    height: 400px;
    margin-top: 20px;
  }
  #gallery #modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    height: 70px;
    padding: 0;
    padding-left: 10px;
    padding-right: 25px;
    border-radius: 15px;
    background: #202020;
  }
  #gallery #modal .lds-ellipsis {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin: 0;
  }
  #gallery #modal h1 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
  }
  #gallery .row {
    display: none;
  }
  #gallery.active {
    background: none;
  }
  #gallery.active #modal {
    display: none;
  }
  #gallery.active .row {
    -webkit-transform: translateX(-1vw);
            transform: translateX(-1vw);
    width: 102vw;
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: scroll;
    overflow-y: visible;
    background: none;
  }
  #gallery.active .row.top {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #gallery.active .row.bottom {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  canvas {
    width: 120px;
    height: 120px;
    margin: 0px;
    padding-bottom: -20px;
    padding: 0px;
    padding-right: 20px;
    background: none;
  }
  #input {
    display: none;
  }
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 10px;
  }
  .buttons .divider {
    width: 1px;
    height: 200px;
    background: rgba(255, 255, 255, 0.2);
  }
  .buttons .button {
    color: white;
    background: rgba(0, 0, 0, 0);
    text-align: center;
    margin: 10px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    width: 15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buttons .button h1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 20px;
    color: #91fff9;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .buttons .button img {
    width: 100px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .buttons .button:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .buttons .button:hover h1 {
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 800px) {
  #main {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80vh;
  }
  .title {
    text-align: center;
    color: white;
    margin-top: 30px;
  }
  .title #logo {
    width: 70vw;
    margin-bottom: 20px;
  }
  .title h1 {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
  }
  .title h2 {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #gallery {
    display: none;
  }
  canvas {
    width: 60vw;
    height: 60vw;
    margin: 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: black;
  }
  #input {
    display: none;
  }
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    width: 98vw;
  }
  .buttons .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 43vw;
    margin: 10px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .buttons .button h1 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
  }
  .buttons .button img {
    width: 35vw;
  }
  .buttons .button:hover {
    opacity: 0.7;
  }
}
/*# sourceMappingURL=landing.css.map */