@import 'variables';

@media screen and (min-width: 800px){
    #main{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .title{
        text-align: center;
        color: white;
        margin-bottom: 40px;
        h1{
            font-size: 20px;
            font-weight: 300;
            margin: 0;
            margin-bottom: 10px;
        }
        h2{
            font-size: 18px;
            font-weight: 300;
            margin: 0;
            color: rgba(white, 0.5);
        }
    }

    canvas{
        width: 300px;
        height: 300px;
        margin: 0px;
        border: 1px solid rgba(white, 0.2);
        background-color: black;
    }

    #input{
        display: none;
    }

    .buttons{
        display: flex;
        margin-top: 30px;
        .button{
            color: white;
            border: 1px solid rgba(white, 0.7);
            text-align: center;
            width: 200px;
            height: 60px;
            margin: 10px;
            transition: 0.2s ease;
            h1{
                font-size: 18px;
                line-height: 60px;
                font-weight: 300;
                margin: 0;
            }
            &:hover{
                opacity: 0.7;
            }
        }
    }
}

@media screen and (max-width: 800px){

    #main{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
    }

    .title{
        text-align: center;
        color: white;
        margin-bottom: 40px;
        h1{
            font-size: 20px;
            font-weight: 300;
            margin: 0;
            margin-bottom: 10px;
        }
        h2{
            font-size: 18px;
            font-weight: 300;
            margin: 0;
            color: rgba(white, 0.5);
        }
    }

    canvas{
        width: 60vw;
        height: 60vw;
        margin: 0px;
        border: 1px solid rgba(white, 0.2);
        background: black;
    }

    #input{
        display: none;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .button{
            color: white;
            border: 1px solid white;
            text-align: center;
            width: 80vw;
            height: 15vw;
            margin: 10px;
            transition: 0.2s ease;
            h1{
                font-size: 18px;
                line-height: 15vw;
                font-weight: 400;
                margin: 0;
            }
            &:hover{
                opacity: 0.7;
            }
        }
    }
}

