$blue: #0074ff;
$red: #ff0000;
$cyan: #00FFFF;
$pink: #ff00ff;
$orange: #ff6d00;
$yellow: #ffce00;
$purple: #ba00ff;
$white: #FFFFFF;
$black: #000000;
$green: #00dd15;
$gray: #909090;
$indigo: #0013ff;