@import '../../CSS/variables';

#file{
    color: white;
}

::-webkit-scrollbar{
    width: 2px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(white, 0.1);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (min-width: 800px) {

    #main{
        margin-top: 60px;
    }

    #controller{
        background: black;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border: 1px solid rgba(white, 0.3);
        margin-bottom: 20px;
        #id{
            background: #464646;
            font-size: 15px;
            color: white;
            font-weight: 300;
            padding: 10px;
            margin-right: 10px;
        }
        .button{
            padding: 10px;
            margin: 10px;
        }
        input{
            font-size: 15px;
            padding: 9px;
            background: #e0e0e0;
            transition: 0.1s ease;
            &:hover{
                background: #fafafa;
            }
        }
    }

    .button{
        background: $blue;
        width: fit-content;
        color: white;
        font-size: 14px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
        transition: 0.1s ease;
        &:hover{
            background: $indigo;
        }
    }

    .area{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .head{
        background: rgba(black,0.3);
        padding: 10px;
        height: 20px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            margin: 0;
            font-size: 15px;
            font-weight: 300;
        }
    }

    .container{
        color: white;
        background: #2e2e2e;
        margin: 0.5vw;
        height: fit-content;
    }

    #canvas{
        display: none;
    }

    canvas{
        width: 25vw;
        height: 25vw;
        margin: 10px;
        background: black;
    }

    .shelf{
        display: flex;
        .col{
            .row{
               // padding: 5px;
                margin: 0px;
                padding: 5px;
                padding-bottom: 0px;
                .canvas{
                    width: 8vw;
                    height: 8vw;
                    margin: 0px;
                    border: 1px solid rgba(white, 0.2);
                }
                &.selected{
                    background: rgba(#ffce00, 0.3);
                }
            }
        }
    }

    #object{
        font-family: 'source code pro', serif, sans-serif;
        background: black;
        width: 23vw;
        height: 15vw;
        padding: 1vw;
        margin: 0.5vw;
        font-size: 14px;
        font-weight: 300;
        overflow-y: scroll;
        .colon{
           // color: rgba(white, 0.8);
        }
        .quote{
            color: rgba(white, 0.6);
        }
        .bracket{
            color: rgba(white, 0.6);
        }
        .squiggle{
            color: $yellow;
        }
    }

    #tags{
        font-family: 'source code pro', serif, sans-serif;
        background: black;
        outline: none;
        border: none;
        color: white;
        width: 23vw;
        height: 5vw;
        padding: 1vw;
        margin: 0.5vw;
        font-size: 14px;
        font-weight: 300;
        overflow-y: scroll;
    }


    #file{
        display: none;
        background-color: rgba(black, 0.1);
        padding: 5px;
        margin: 0;
        margin-right: 10px;
        width: 80%;
        color: black;
        cursor: pointer;
    }
    .button{
        padding: 7px;
    }
    #submit{
        display: none;
    }
    #back{
        display: none;
        margin-right: 10px;
    }

    .fab{
        position: fixed;
        padding: 10px;
        padding-left: 28px;
        padding-right: 30px;
        border-radius: 50px;
        box-shadow: 0 10px 10px rgba(white, 0.1);
        transition: 0.2s ease;
        h2{
            font-size: 18px;
            line-height: 18px;
            font-weight: 600;
            margin: 0;
            transform: translateY(-3px);
        }
        .icon{
            font-size: 20px;
            margin-right: 5px;
            transform: translateY(3px);
        }
        &:hover{
            transform: translateY(-5px);
            box-shadow: 0 15px 10px rgba(white, 0.1);
        }
    }

    #upload{
        bottom: 4vw;
        right: 4vw;
    }

    #file-label{
        bottom: 4vw;
        left: 4vw;
        h2{
            transform: translateY(-5px);
        }
        span{
            transform: translateY(5px);
        }
    }

    #box{
        width: 32vw;
        .head{
            width: 31vw;
            .button{
                margin-right: 5px;
            }
        }
        #elems{
            display: flex;
            flex-wrap: wrap;
            margin: 5px;
        }
        .elem{
            background: rgba(black, 0.4);
            margin: 0.1vw;
            margin-bottom: 10px;
            width: 10vw;
            .title{
                padding: 8px;
                display: flex;
                align-items: center;
                background-color: rgba(black, 0.5);
                p{
                    border: 1px solid rgba(white, 0.3);
                    color: white;
                    margin: 0;
                    margin-top: 1.5px;
                    text-align: center;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                    width: 18px;
                    height: 18px;
                }
                h1{
                    flex: 1;
                    font-size: 14px;
                    line-height: 16px;
                    font-weight: 300;
                    margin: 0;
                    padding: 2px;
                    padding-left: 8px;
                }
            }
            .props{
                padding: 15px;
                padding-top: 0px;
                padding-bottom: 10px;
            }
            .prop{
                display: flex;
                align-items: center;
                margin: 10px;
                margin-left: 0;
                margin-right: 5px;
                h2{
                    font-size: 14px;
                    font-weight: 200;
                    margin: 0;
                    margin-right: 10px;
                    width: 10px;
                    &.rgb{
                        width: 20px;
                    }
                    &.check{
                        width: 35px;
                    }
                    &.disabled{
                        width: 40px;
                        color: rgba(white, 0.5);
                    }
                }
                input{
                    font-size: 12px;
                    line-height: 14px;
                    height: 20px;
                    padding-left: 5px;
                    padding-right: 5px;
                    transition: 0.1s ease;
                    width: 100%;
                    background: #c9c9c9;
                    &.checkbox{
                        appearance: none;
                        width: 15px;
                        height: 15px;
                        background-color: white;
                        border: 2px solid white;
                        border-radius: 15px;
                        cursor: pointer;
                        &:checked{
                            background: red;
                        }
                        &.disabled{
                            &:checked{
                                background: black;
                            }
                        }
                    }
                    &:hover{
                        background: #dddddd;
                    }
                }
                textarea{
                    resize: vertical;
                    padding: 5px;
                    overflow: auto;
                    background: #c9c9c9;
                    &:hover{
                        background: #dddddd;
                    }
                }
            }
        }
    }

    #message{
        position: fixed;
        top: -60px;
        left: calc(50vw - 150px);
        width: 300px;
        background-color: $yellow;
        z-index: 4;
        text-align: center;
        font-size: 18px;
        padding: 10px;
        border-radius: 5px;
        transition: 0.4s ease-in-out;
    }
}


@media screen and (max-width: 800px) {

    #main{
        margin-top: 0px;
    }

    #controller{
        background: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px;
        border: 1px solid rgba(white, 0.3);
        margin-bottom: 20px;
        #id{
            background: #464646;
            font-size: 15px;
            color: white;
            font-weight: 300;
            padding: 10px;
            margin-right: 10px;
        }
        .button{
            padding: 10px;
            margin: 10px;
        }
        input{
            font-size: 15px;
            padding: 9px;
            background: #e0e0e0;
            transition: 0.1s ease;
            &:hover{
                background: #fafafa;
            }
        }
    }

    .button{
        background: $blue;
        width: fit-content;
        color: white;
        font-size: 14px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
        transition: 0.1s ease;
        &:hover{
            background: $indigo;
        }
    }

    .area{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .head{
        background: rgba(black,0.3);
        padding: 10px;
        height: 20px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            margin: 0;
            font-size: 15px;
            font-weight: 300;
        }
    }

    .container{
        color: white;
        background: #2e2e2e;
        margin: 1vw;
        height: fit-content;
    }

    #canvas{
        display: none;
    }

    .shelf{
        display: flex;
        .col{
            .row{
                margin: 0px;
                padding: 5px;
                padding-bottom: 0px;
                .canvas{
                    width: 12vw;
                    height: 12vw;
                    margin: 0px;
                    border: 1px solid rgba(white, 0.2);
                    background: black;
                }
                &.selected{
                    background: rgba(#ffce00, 0.3);
                }
            }
        }
    }

    #object{
        font-family: 'source code pro', serif, sans-serif;
        background: black;
        width: 28vw;
        height: 15vw;
        padding: 2vw;
        margin: 1vw;
        font-size: 14px;
        font-weight: 300;
        overflow-y: scroll;
        .colon{
           // color: rgba(white, 0.8);
        }
        .quote{
            color: rgba(white, 0.6);
        }
        .bracket{
            color: rgba(white, 0.6);
        }
        .squiggle{
            color: $yellow;
        }
    }

    #tags{
        font-family: 'source code pro', serif, sans-serif;
        background: black;
        outline: none;
        border: none;
        color: white;
        width: 28vw;
        height: 15vw;
        padding: 2vw;
        margin: 1vw;
        font-size: 14px;
        font-weight: 300;
        overflow-y: scroll;
    }

    #file{
        display: none;
        background-color: rgba(black, 0.1);
        padding: 5px;
        margin: 0;
        margin-right: 10px;
        width: 80%;
        color: black;
        cursor: pointer;
    }
    .button{
        padding: 7px;
    }
    #submit{
        display: none;
    }
    #back{
        display: none;
        margin-right: 10px;
    }

    .fab{
        position: fixed;
        padding: 10px;
        padding-left: 28px;
        padding-right: 30px;
        border-radius: 50px;
        box-shadow: 0 10px 10px rgba(white, 0.1);
        transition: 0.2s ease;
        h2{
            font-size: 18px;
            line-height: 18px;
            font-weight: 600;
            margin: 0;
            transform: translateY(-3px);
        }
        .icon{
            font-size: 20px;
            margin-right: 5px;
            transform: translateY(3px);
        }
        &:hover{
            transform: translateY(-5px);
            box-shadow: 0 15px 10px rgba(white, 0.1);
        }
    }

    #upload{
        bottom: 4vw;
        right: 4vw;
    }

    #file-label{
        bottom: 4vw;
        left: 4vw;
        h2{
            transform: translateY(-5px);
        }
        span{
            transform: translateY(5px);
        }
    }

    #box{
        width: 90vw;
        .head{
            width: 87vw;
            .button{
                margin-right: 5px;
            }
        }
        #elems{
            display: flex;
            flex-wrap: wrap;
            margin: 5px;
        }
        .elem{
            background: rgba(black, 0.4);
            margin: 1vw;
            margin-bottom: 10px;
            width: 27vw;
            .title{
                padding: 8px;
                display: flex;
                align-items: center;
                background-color: rgba(black, 0.5);
                p{
                    border: 1px solid rgba(white, 0.3);
                    color: white;
                    margin: 0;
                    margin-top: 1.5px;
                    text-align: center;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                    width: 18px;
                    height: 18px;
                }
                h1{
                    flex: 1;
                    font-size: 14px;
                    line-height: 16px;
                    font-weight: 300;
                    margin: 0;
                    padding: 2px;
                    padding-left: 8px;
                }
            }
            .props{
                padding: 15px;
                padding-top: 0px;
                padding-bottom: 10px;
            }
            .prop{
                display: flex;
                align-items: center;
                margin: 10px;
                margin-left: 0;
                margin-right: 5px;
                h2{
                    font-size: 14px;
                    font-weight: 200;
                    margin: 0;
                    margin-right: 10px;
                    width: 10px;
                    &.rgb{
                        width: 20px;
                    }
                    &.check{
                        width: 35px;
                    }
                    &.disabled{
                        width: 40px;
                    }
                }
                input{
                    font-size: 12px;
                    line-height: 14px;
                    height: 20px;
                    padding-left: 5px;
                    padding-right: 5px;
                    transition: 0.1s ease;
                    width: 100%;
                    background: #c9c9c9;
                    &.checkbox{
                        appearance: none;
                        width: 15px;
                        height: 15px;
                        background-color: white;
                        border: 2px solid white;
                        border-radius: 15px;
                        &:checked{
                            background: red;
                        }
                    }
                    &:hover{
                        background: #dddddd;
                    }
                }
                textarea{
                    resize: vertical;
                    padding: 5px;
                    overflow: auto;
                    background: #c9c9c9;
                    &:hover{
                        background: #dddddd;
                    }
                }
            }
        }
    }

    #message{
        position: fixed;
        top: -60px;
        left: calc(50vw - 150px);
        width: 300px;
        background-color: $yellow;
        z-index: 4;
        text-align: center;
        font-size: 18px;
        padding: 10px;
        border-radius: 5px;
        transition: 0.4s ease-in-out;
    }
}

.red{
    background: $red;
    color: white;
    &:hover{
        background: #d30000;
    }
}
.orange{
    background: $orange;
    color: white;
    &:hover{
        background: #ff3c00;
    }
}
.yellow{
    background: $yellow;
    color: black;
    &:hover{
        background: #ffa600;
    }
}
.green{
    background: $green;
    color: black;
    &:hover{
        background: #00be2f;
    }
}
.gray{
    background: #696969;
    color: white;
    &:hover{
        background: #505050;
    }
}
.cyan{
    background: $cyan;
    color: black;
    &:hover{
        background: #00d9ff;
    }
}
.blue{
    background: $blue;
    color: white;
    &:hover{
        background: #0050fd;
    }
}
.indigo{
    background: $indigo;
    color: white;
    &:hover{
        background: #1500cf;
    }
}
.purple{
    background: $purple;
    color: white;
    &:hover{
        background: #8c00ff;
    }
}
.pink{
    background: $pink;
    color: white;
    &:hover{
        background: #ff00bf;
    }
}


