#file {
  color: white;
}

::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

.button {
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .head {
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 20px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .head h1 {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
  }
  #canvas {
    display: none;
  }
  canvas {
    width: 20vw;
    height: 20vw;
    margin: 10px;
    background: black;
  }
  .shelf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .shelf .col .row {
    margin: 0px;
    padding: 5px;
    padding-bottom: 0px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 1vw;
    cursor: pointer;
  }
  .shelf .col .row .canvas {
    width: 7vw;
    height: 7vw;
    border-radius: 0.5vw;
    margin: 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .shelf .col .row.selected {
    background: rgba(255, 206, 0, 0.1);
  }
  .shelf .col .row.selected .canvas {
    border: 1px solid #ffce00;
  }
  #object {
    font-family: 'source code pro', serif, sans-serif;
    background: black;
    width: 23vw;
    height: 10vw;
    padding: 1vw;
    margin: 0.5vw;
    font-size: 11px;
    line-height: 15px;
    font-weight: 300;
    border-radius: 0.5vw;
    overflow-y: scroll;
  }
  #object .colon {
    color: rgba(255, 255, 255, 0.5);
  }
  #object .quote {
    color: rgba(255, 255, 255, 0.6);
  }
  #object .bracket {
    color: rgba(255, 255, 255, 0.8);
  }
  #object .squiggle {
    color: #ffce00;
  }
  #object .property {
    color: #e74747;
  }
  #object .dash {
    color: rgba(255, 255, 255, 0.3);
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #notes {
    font-family: 'source code pro', serif, sans-serif;
    background: black;
    outline: none;
    border: none;
    color: white;
    width: 23vw;
    height: 5vw;
    padding: 1vw;
    margin: 0.5vw;
    font-size: 14px;
    font-weight: 300;
    border-radius: 0.5vw;
    overflow-y: scroll;
  }
  #notes {
    height: 3vw;
    font-size: 13px;
  }
  #tag {
    font-family: 'source code pro', serif, sans-serif;
    background: rgba(0, 0, 0, 0.6);
    outline: none;
    border: none;
    color: white;
    width: 23vw;
    height: 5vw;
    padding: 1vw;
    margin: 0.5vw;
    font-size: 14px;
    font-weight: 300;
    border-radius: 0.5vw;
    overflow-y: scroll;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #tag .tag {
    color: white;
    background: rgba(255, 255, 255, 0.1);
    white-space: nowrap;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    height: 12px;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 15px;
  }
  #tag .tag.tag-cyan {
    background: rgba(0, 251, 255, 0.3);
  }
  #tag .tag.tag-green {
    background: rgba(0, 255, 0, 0.3);
  }
  #tag .tag.tag-yellow {
    background: rgba(255, 230, 0, 0.3);
  }
  #tag .tag.tag-cyan {
    background: rgba(0, 255, 255, 0.3);
  }
  #tag .tag.tag-blue {
    background: rgba(0, 81, 255, 0.3);
  }
  #tag .tag.tag-pink {
    background: rgba(236, 21, 255, 0.3);
  }
  #tag .tag.tag-purple {
    background: rgba(163, 105, 255, 0.3);
  }
  #file {
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 0;
    margin-right: 10px;
    width: 80%;
    color: black;
    cursor: pointer;
  }
  #submit {
    display: none;
  }
  #back {
    display: none;
    margin-right: 10px;
  }
  .fab {
    position: fixed;
    padding: 10px;
    padding-left: 28px;
    padding-right: 30px;
    border-radius: 50px;
    -webkit-box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
            box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .fab h2 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin: 0;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  .fab .icon {
    font-size: 20px;
    margin-right: 5px;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  .fab:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0 15px 10px rgba(255, 255, 255, 0.1);
            box-shadow: 0 15px 10px rgba(255, 255, 255, 0.1);
  }
  #upload {
    bottom: 2vw;
    right: 2vw;
  }
  #file-label {
    bottom: 2vw;
    left: 2vw;
  }
  #file-label h2 {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  #file-label span {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  #box {
    width: 32vw;
  }
  #box .head {
    width: 31vw;
  }
  #box .head .button {
    margin-right: 5px;
  }
  #box #elems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 5px;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0vw;
  }
  #box .elem {
    background: rgba(0, 0, 0, 0.4);
    margin: 0.4vw;
    width: 9.4vw;
    border-radius: 0.5vw;
  }
  #box .elem .title {
    border-radius: 0.5vw 0.5vw 0 0;
    padding: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  #box .elem .title p {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.3vw;
    color: white;
    margin: 0;
    margin-top: 1.5px;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
    width: 18px;
    height: 18px;
  }
  #box .elem .title h1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    margin: 0;
    padding: 2px;
    padding-left: 8px;
  }
  #box .elem .props {
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  #box .elem .prop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 5px;
    margin-left: 0;
    margin-right: 5px;
  }
  #box .elem .prop h2 {
    font-size: 12px;
    font-weight: 200;
    margin: 0;
    margin-right: 10px;
    margin-top: 1.5px;
  }
  #box .elem .prop h2.rgb {
    width: 20px;
  }
  #box .elem .prop h2.check {
    width: 35px;
  }
  #box .elem .prop h2.disabled {
    width: 40px;
    color: rgba(255, 255, 255, 0.5);
  }
  #box .elem .prop input {
    font-size: 11px;
    line-height: 14px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
    width: 100%;
    background: none;
    color: #afd3ff;
    font-family: Manrope, Roboto, sans-serif;
  }
  #box .elem .prop input.checkbox {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
  }
  #box .elem .prop input.checkbox:hover {
    background: #ffbdbd;
  }
  #box .elem .prop input.checkbox:checked {
    background: red;
  }
  #box .elem .prop input.checkbox.disabled:hover {
    background: #c2c2c2;
  }
  #box .elem .prop input.checkbox.disabled:checked {
    background: black;
  }
  #box .elem .prop textarea {
    font-size: 11px;
    line-height: 14px;
    resize: none;
    padding: 5px;
    height: 100px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: none;
    font-weight: 300;
    letter-spacing: 1px;
    color: #afd3ff;
    outline: none;
    border: none;
  }
}

.red {
  background: #ff0000;
  color: white;
}

.red:hover {
  background: #d30000;
}

.orange {
  background: #ff6d00;
  color: white;
}

.orange:hover {
  background: #ff3c00;
}

.yellow {
  background: #ffce00;
  color: black;
}

.yellow:hover {
  background: #ffa600;
}

.green {
  background: #00dd15;
  color: black;
}

.green:hover {
  background: #00be2f;
}

.gray {
  background: #696969;
  color: white;
}

.gray:hover {
  background: #505050;
}

.cyan {
  background: #00FFFF;
  color: black;
}

.cyan:hover {
  background: #00d9ff;
}

.blue {
  background: #0074ff;
  color: white;
}

.blue:hover {
  background: #0050fd;
}

.indigo {
  background: #0013ff;
  color: white;
}

.indigo:hover {
  background: #1500cf;
}

.purple {
  background: #ba00ff;
  color: white;
}

.purple:hover {
  background: #8c00ff;
}

.pink {
  background: #ff00ff;
  color: white;
}

.pink:hover {
  background: #ff00bf;
}
/*# sourceMappingURL=svg.css.map */