#file {
  color: white;
}

::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (min-width: 800px) {
  #main {
    margin-top: 60px;
  }
  #controller {
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
  }
  #controller #id {
    background: #464646;
    font-size: 15px;
    color: white;
    font-weight: 300;
    padding: 10px;
    margin-right: 10px;
  }
  #controller .button {
    padding: 10px;
    margin: 10px;
  }
  #controller input {
    font-size: 15px;
    padding: 9px;
    background: #e0e0e0;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
  }
  #controller input:hover {
    background: #fafafa;
  }
  .button {
    background: #0074ff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
  }
  .button:hover {
    background: #0013ff;
  }
  .area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .head {
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 20px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .head h1 {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
  }
  .container {
    color: white;
    background: #2e2e2e;
    margin: 0.5vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #canvas {
    display: none;
  }
  canvas {
    width: 25vw;
    height: 25vw;
    margin: 10px;
    background: black;
  }
  .shelf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .shelf .col .row {
    margin: 0px;
    padding: 5px;
    padding-bottom: 0px;
  }
  .shelf .col .row .canvas {
    width: 8vw;
    height: 8vw;
    margin: 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .shelf .col .row.selected {
    background: rgba(255, 206, 0, 0.3);
  }
  #object {
    font-family: 'source code pro', serif, sans-serif;
    background: black;
    width: 23vw;
    height: 15vw;
    padding: 1vw;
    margin: 0.5vw;
    font-size: 14px;
    font-weight: 300;
    overflow-y: scroll;
  }
  #object .quote {
    color: rgba(255, 255, 255, 0.6);
  }
  #object .bracket {
    color: rgba(255, 255, 255, 0.6);
  }
  #object .squiggle {
    color: #ffce00;
  }
  #tags {
    font-family: 'source code pro', serif, sans-serif;
    background: black;
    outline: none;
    border: none;
    color: white;
    width: 23vw;
    height: 5vw;
    padding: 1vw;
    margin: 0.5vw;
    font-size: 14px;
    font-weight: 300;
    overflow-y: scroll;
  }
  #file {
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 0;
    margin-right: 10px;
    width: 80%;
    color: black;
    cursor: pointer;
  }
  .button {
    padding: 7px;
  }
  #submit {
    display: none;
  }
  #back {
    display: none;
    margin-right: 10px;
  }
  .fab {
    position: fixed;
    padding: 10px;
    padding-left: 28px;
    padding-right: 30px;
    border-radius: 50px;
    -webkit-box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
            box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .fab h2 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin: 0;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  .fab .icon {
    font-size: 20px;
    margin-right: 5px;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  .fab:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0 15px 10px rgba(255, 255, 255, 0.1);
            box-shadow: 0 15px 10px rgba(255, 255, 255, 0.1);
  }
  #upload {
    bottom: 4vw;
    right: 4vw;
  }
  #file-label {
    bottom: 4vw;
    left: 4vw;
  }
  #file-label h2 {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  #file-label span {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  #box {
    width: 32vw;
  }
  #box .head {
    width: 31vw;
  }
  #box .head .button {
    margin-right: 5px;
  }
  #box #elems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 5px;
  }
  #box .elem {
    background: rgba(0, 0, 0, 0.4);
    margin: 0.1vw;
    margin-bottom: 10px;
    width: 10vw;
  }
  #box .elem .title {
    padding: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #box .elem .title p {
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    margin: 0;
    margin-top: 1.5px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    width: 18px;
    height: 18px;
  }
  #box .elem .title h1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    margin: 0;
    padding: 2px;
    padding-left: 8px;
  }
  #box .elem .props {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 10px;
  }
  #box .elem .prop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
    margin-left: 0;
    margin-right: 5px;
  }
  #box .elem .prop h2 {
    font-size: 14px;
    font-weight: 200;
    margin: 0;
    margin-right: 10px;
    width: 10px;
  }
  #box .elem .prop h2.rgb {
    width: 20px;
  }
  #box .elem .prop h2.check {
    width: 35px;
  }
  #box .elem .prop h2.disabled {
    width: 40px;
    color: rgba(255, 255, 255, 0.5);
  }
  #box .elem .prop input {
    font-size: 12px;
    line-height: 14px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
    width: 100%;
    background: #c9c9c9;
  }
  #box .elem .prop input.checkbox {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
  }
  #box .elem .prop input.checkbox:checked {
    background: red;
  }
  #box .elem .prop input.checkbox.disabled:checked {
    background: black;
  }
  #box .elem .prop input:hover {
    background: #dddddd;
  }
  #box .elem .prop textarea {
    resize: vertical;
    padding: 5px;
    overflow: auto;
    background: #c9c9c9;
  }
  #box .elem .prop textarea:hover {
    background: #dddddd;
  }
  #message {
    position: fixed;
    top: -60px;
    left: calc(50vw - 150px);
    width: 300px;
    background-color: #ffce00;
    z-index: 4;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
}

@media screen and (max-width: 800px) {
  #main {
    margin-top: 0px;
  }
  #controller {
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
  }
  #controller #id {
    background: #464646;
    font-size: 15px;
    color: white;
    font-weight: 300;
    padding: 10px;
    margin-right: 10px;
  }
  #controller .button {
    padding: 10px;
    margin: 10px;
  }
  #controller input {
    font-size: 15px;
    padding: 9px;
    background: #e0e0e0;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
  }
  #controller input:hover {
    background: #fafafa;
  }
  .button {
    background: #0074ff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
  }
  .button:hover {
    background: #0013ff;
  }
  .area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .head {
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 20px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .head h1 {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
  }
  .container {
    color: white;
    background: #2e2e2e;
    margin: 1vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #canvas {
    display: none;
  }
  .shelf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .shelf .col .row {
    margin: 0px;
    padding: 5px;
    padding-bottom: 0px;
  }
  .shelf .col .row .canvas {
    width: 12vw;
    height: 12vw;
    margin: 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: black;
  }
  .shelf .col .row.selected {
    background: rgba(255, 206, 0, 0.3);
  }
  #object {
    font-family: 'source code pro', serif, sans-serif;
    background: black;
    width: 28vw;
    height: 15vw;
    padding: 2vw;
    margin: 1vw;
    font-size: 14px;
    font-weight: 300;
    overflow-y: scroll;
  }
  #object .quote {
    color: rgba(255, 255, 255, 0.6);
  }
  #object .bracket {
    color: rgba(255, 255, 255, 0.6);
  }
  #object .squiggle {
    color: #ffce00;
  }
  #tags {
    font-family: 'source code pro', serif, sans-serif;
    background: black;
    outline: none;
    border: none;
    color: white;
    width: 28vw;
    height: 15vw;
    padding: 2vw;
    margin: 1vw;
    font-size: 14px;
    font-weight: 300;
    overflow-y: scroll;
  }
  #file {
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 0;
    margin-right: 10px;
    width: 80%;
    color: black;
    cursor: pointer;
  }
  .button {
    padding: 7px;
  }
  #submit {
    display: none;
  }
  #back {
    display: none;
    margin-right: 10px;
  }
  .fab {
    position: fixed;
    padding: 10px;
    padding-left: 28px;
    padding-right: 30px;
    border-radius: 50px;
    -webkit-box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
            box-shadow: 0 10px 10px rgba(255, 255, 255, 0.1);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .fab h2 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin: 0;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  .fab .icon {
    font-size: 20px;
    margin-right: 5px;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  .fab:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0 15px 10px rgba(255, 255, 255, 0.1);
            box-shadow: 0 15px 10px rgba(255, 255, 255, 0.1);
  }
  #upload {
    bottom: 4vw;
    right: 4vw;
  }
  #file-label {
    bottom: 4vw;
    left: 4vw;
  }
  #file-label h2 {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  #file-label span {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  #box {
    width: 90vw;
  }
  #box .head {
    width: 87vw;
  }
  #box .head .button {
    margin-right: 5px;
  }
  #box #elems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 5px;
  }
  #box .elem {
    background: rgba(0, 0, 0, 0.4);
    margin: 1vw;
    margin-bottom: 10px;
    width: 27vw;
  }
  #box .elem .title {
    padding: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #box .elem .title p {
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    margin: 0;
    margin-top: 1.5px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    width: 18px;
    height: 18px;
  }
  #box .elem .title h1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    margin: 0;
    padding: 2px;
    padding-left: 8px;
  }
  #box .elem .props {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 10px;
  }
  #box .elem .prop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
    margin-left: 0;
    margin-right: 5px;
  }
  #box .elem .prop h2 {
    font-size: 14px;
    font-weight: 200;
    margin: 0;
    margin-right: 10px;
    width: 10px;
  }
  #box .elem .prop h2.rgb {
    width: 20px;
  }
  #box .elem .prop h2.check {
    width: 35px;
  }
  #box .elem .prop h2.disabled {
    width: 40px;
  }
  #box .elem .prop input {
    font-size: 12px;
    line-height: 14px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
    width: 100%;
    background: #c9c9c9;
  }
  #box .elem .prop input.checkbox {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid white;
    border-radius: 15px;
  }
  #box .elem .prop input.checkbox:checked {
    background: red;
  }
  #box .elem .prop input:hover {
    background: #dddddd;
  }
  #box .elem .prop textarea {
    resize: vertical;
    padding: 5px;
    overflow: auto;
    background: #c9c9c9;
  }
  #box .elem .prop textarea:hover {
    background: #dddddd;
  }
  #message {
    position: fixed;
    top: -60px;
    left: calc(50vw - 150px);
    width: 300px;
    background-color: #ffce00;
    z-index: 4;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
}

.red {
  background: #ff0000;
  color: white;
}

.red:hover {
  background: #d30000;
}

.orange {
  background: #ff6d00;
  color: white;
}

.orange:hover {
  background: #ff3c00;
}

.yellow {
  background: #ffce00;
  color: black;
}

.yellow:hover {
  background: #ffa600;
}

.green {
  background: #00dd15;
  color: black;
}

.green:hover {
  background: #00be2f;
}

.gray {
  background: #696969;
  color: white;
}

.gray:hover {
  background: #505050;
}

.cyan {
  background: #00FFFF;
  color: black;
}

.cyan:hover {
  background: #00d9ff;
}

.blue {
  background: #0074ff;
  color: white;
}

.blue:hover {
  background: #0050fd;
}

.indigo {
  background: #0013ff;
  color: white;
}

.indigo:hover {
  background: #1500cf;
}

.purple {
  background: #ba00ff;
  color: white;
}

.purple:hover {
  background: #8c00ff;
}

.pink {
  background: #ff00ff;
  color: white;
}

.pink:hover {
  background: #ff00bf;
}
/*# sourceMappingURL=svg.css.map */