body{
    overflow-x: hidden;
}

.hidden{
    display: none;
}

::-webkit-scrollbar{
    width: 5px;
    height: 0px;
    transition: 0.2s ease;
}

::-webkit-scrollbar-thumb{
    background: rgba(white, 0.5);
    border-radius: 5px;
    transition: 0.2s ease;
    &:hover{
        background: rgba(white, 0.6);
    }
}

@media screen and (min-width: 800px){

    .button{
        font-size: 14px;
        padding: 8px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
    }

    #main{
        height: calc(100vh - 150px);
        width: 98.5vw;
        margin: auto;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        background: black;
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid rgba(white, 0.3);
    }

    #controller{
        position: fixed;
        top: 0px;
        box-shadow: 0 0 50px black;
        z-index: 4;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
        .slide-box{
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            margin-right: 15px;
            margin-left: 15px;
            height: 50px;
        }
        .check-box{
            display: flex;
            align-items: center;
        }
        #num-results{
            font-size: 15px;
            font-weight: 300;
            margin-left: 15px;
            margin-right: 5px;
        }
        .slide-box{
            p{
                font-size: 15px;
                font-weight: 300;
                margin: 5px;
                margin-left: 10px;
                margin-right: 10px;
                white-space: nowrap;
                &.slide-value{
                    width: 25px;
                    text-align: center;
                    color: yellow;
                }
            }
        }
        .slider{
            appearance: none;
            width: 10vw;
            height: 5px;
            background: #0074ff;
            outline: none;
            border-radius: 30px;
            transition: opacity .2s;
            &:hover{
                background: #0074ff;
            }
        }
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            background: white;
            cursor: pointer;
            border-radius: 30px;
            transition: 0.2s ease;
            &:hover{
                background: rgba(white, 0.7);
            }
        }
    }

    #option-box{
        .check-box{
            margin: 0;
            margin-left: 10px;
            margin-right: 10px;
            .checkbox{
                background: white;
                border: 3px solid white;
                width: 14px;
                height: 14px;
                border-radius: 50px;
                transition: 0.2s ease;
                cursor: pointer;
                &:hover{
                    background: #d6e6ff;
                }
                &.selected{
                    background: #0074ff;
                }
            }
            h2{
                font-size: 15px;
                font-weight: 300;
                margin-left: 10px;
            }
        }
    }

    .elem{
        padding: 7px;
        margin: 5px;
        border-radius: 10px;
        display: block;
        background: rgba(#404040, 0.7);
        transition: 0.2s ease;
        position: relative;
        height: fit-content;
        align-self: flex-start;
        cursor: pointer;
        color: white;
        .head{
            display: flex;
            justify-content: space-between;
            margin-bottom: 2px;
            .name{
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                margin: 0;
                margin-left: 5px;
                color: rgba(white, 0.9);
            }
            .slash{
                font-weight: 400;
            }
            .id{
                font-size: 12px;
                font-weight: 300;
                margin: 0;
                margin-right: 5px;
                background: rgba(white, 0.1);
                border-radius: 8px;
                padding: 5px;
                color: rgba(white, 1);
            }
            &.hidden{
                display: none;
            }
        }
        .box{
            display: flex;
            height: fit-content;
            width: 100%;
            height: 100%;
        }
        .example{
            margin: 3px;
            display: flex;
            .image{
                width: 100px;
                height: 100px;
                background: black;
                background-size: cover;
                &.hidden{
                    display: none;
                }
            }
            &.hidden{
                display: none;
            }
        }
        .tags{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-x: scroll;
            margin: 0;
            height: 35px;
            .tag{
                color: rgba(white, 0.7);
                white-space: nowrap;
                font-size: 11px;
                font-weight: 400;
                margin: 5px;
                padding: 5px;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 5px;
                background: rgba(#919b9b, 0.3);
                &.tag-cyan{
                    background: rgba(#00fbff, 0.3);
                }
                &.tag-green{
                    background: rgba(#00ff00, 0.3);
                }
                &.tag-yellow{
                    background: rgba(#ffe600, 0.3);
                }
                &.tag-cyan{
                    background: rgba(cyan, 0.3);
                }
                &.tag-blue{
                    background: rgba(#0051ff, 0.3);
                }
                &.tag-pink{
                    background: rgba(#ec15ff, 0.3);
                }
            }
            &.hidden{
                display: none;
            }
        }
        .gradient{
            background: linear-gradient(-90deg, #2e2e2e, rgba(#404040, 0));
            bottom: 7px;
            right: 10px;
            width: 50px;
            height: 35px;
            position: absolute;
        }
        &:hover{
            background: rgba(#404040, 0.8);
        }
    }
}

@media screen and (max-width: 800px){

    .button{
        font-size: 14px;
        padding: 8px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
    }

    #main{
        padding-top: 10px;
    }

    #controller{
        display: none;
    }

    .elem{
        padding: 7px;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 10px;
        display: block;
        background: rgba(#404040, 0.7);
        transition: 0.2s ease;
        position: relative;
        height: fit-content;
        align-self: flex-start;
        color: white;
        width: 90vw;
        cursor: pointer;
        .head{
            display: flex;
            justify-content: space-between;
            margin-bottom: 2px;
            .name{
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                margin: 0;
                margin-left: 5px;
                color: rgba(white, 0.9);
            }
            .slash{
                font-weight: 400;
            }
            .id{
                font-size: 12px;
                font-weight: 300;
                margin: 0;
                margin-right: 5px;
                background: rgba(white, 0.1);
                border-radius: 8px;
                padding: 5px;
                color: rgba(white, 1);
            }
            &.hidden{
                display: none;
            }
        }
        .box{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90vw;
            height: 20vw;
            margin: 0;
            .example{
                margin: 0.4vw;
                margin-bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .image{
                    display: block;
                    width: 14vw;
                    height: 13vw;
                    margin: 0.3vw;
                    background: black;
                }
                &.hidden{
                    display: none;
                }
            }
        }
        .tags{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-x: scroll;
            margin: 0;
            margin-left: 5px;
            margin-bottom: 5px;
            width: 90vw;
            .tag{
                color: rgba(white, 0.7);
                white-space: nowrap;
                font-size: 11px;
                font-weight: 400;
                margin: 0;
                margin-right: 5px;
                padding: 5px;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 5px;
                background: rgba(#919b9b, 0.3);
                &.tag-cyan{
                    background: rgba(#00fbff, 0.3);
                }
                &.tag-green{
                    background: rgba(#00ff00, 0.3);
                }
                &.tag-yellow{
                    background: rgba(#ffe600, 0.3);
                }
                &.tag-cyan{
                    background: rgba(cyan, 0.3);
                }
                &.tag-blue{
                    background: rgba(#0051ff, 0.3);
                }
                &.tag-pink{
                    background: rgba(#ec15ff, 0.3);
                }
            }
            &.hidden{
                display: none;
            }
        }
        .gradient{
            background: linear-gradient(-90deg, #2e2e2e, rgba(#404040, 0));
            bottom: 7px;
            right: 10px;
            width: 50px;
            height: 35px;
            position: absolute;
        }
        &:hover{
            background: rgba(#404040, 0.8);
        }
    }
}
